*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    width: 40%;
    margin: 70px auto;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 2.8;
}
a{
    display: block;
}
span{
    color: red;
}
button{
    border: none;
    background-color: #FFA000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
a:last-of-type{
    margin: 10px 0;
    color: #039BE5;
    font-size: 16px;
    font-weight: bold;
}

@media (min-width:768px ) {
    .box{
        width:50%
    }
}

@media (min-width:1050px) {
    .box{
        width:40%
    }
}
@media (max-width:767px) {
    .box{
        width: 70%;
    }
}